@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #081b29;  */
}
/* header section */
header{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    margin: 0;
    padding: 20px 10%;
    z-index: 1;
    background: transparent;
}
.logo h1{
    font-size: 25px;
    font-weight: 600;
    position: relative;
}
.logo h1::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 0.4s;
}
.logo h1 a{
    text-decoration: none;
    color: #fff;
}
.navbar ul{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    list-style: none;
    padding-right: 60px;
}
.navbar ul::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 0.6s;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    color: #fff;
}
.navbar ul li a:hover,
.navbar ul li a.active{
    color: #06BFF8;
}
.section1{
    position: relative;
    align-items: center;
    height: 100vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0 10%;
}
.section1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 0.6s;
}
.section1 .text{
    max-width: 600px;
}
.section1 .text h1{
    position: relative;
    color: #fff;
    font-size: 41px;
    font-weight: 700;
    line-height: 1.2;
}
.section1 .text h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 0.6s;
}
.section1 .text h3{
    position: relative;
    color: #06BFF8;
    font-size: 30px;
    font-weight: 700;
    line-height: 2;
}
.section1 .text h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: goright 1s ease forwards;
    animation-delay:.8s ;
}

.section1 .text p{
    position: relative;
    color: #fff;
    font-size: 14px;
}
.section1 .text p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 1s;
}
.section1 .text .tbn{
    position: relative;
    width: 330px;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
 .section1 .text .tbn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 1.2s;
} 
.section1 .text .tbn .bnt{
    color: black;
    background: #06BFF8;
    width: 150px;
    height: 40px;
    align-items: center;
    border: #06BFF8 1px solid;
}
.section1 .text .tbn .bnt:hover{
    background: #081b29;
    color: #fff;
}
.section1 .text .tbn .nbt{
    color: #fff;
    background: transparent;
    width: 150px;
    height: 40px;
    align-items: center;
    border: #06BFF8 1px solid;
}
.section1 .text .tbn .nbt:hover{
    color: #000000;
    background: #06BFF8;
}
.icon{
    position: absolute;
    display: flex;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
    z-index: 1;
}
.icon::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: goright 1s ease forwards;
    animation-delay: 1.4s;
    z-index: 2;
}
.icon a{
    position: relative;
    font-size: 20px;
    border: 2px solid #06BFF8;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: all .3s;
}
.icon a:hover{
    color: #081b29;
}
.icon a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #06BFF8;
    z-index: -1;
    transition: .3s;
}
.icon a:hover::before{
    height: 100%;
}
.section1 .home{
    position: absolute;
    top: 0;
    right: 30px;
    width: 900px;
    height: 650px;
    transition: all 4s;
}
.section1 .home:hover{
    background: #081b29;
    opacity: 0.8;
}












/* keyframes animation */
@keyframes goright{
    100%{
        width: 0;
    }
}