@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    color: #ededed;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background: transparent;
    margin: 0;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1;
}
header .logo a{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #ededed;
}
header .logo a::before{
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: end;
    list-style: none;
    padding-right: 60px;
}
header .navbar ul li a{
    /* padding: 20px; */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ededed;
    margin-left: 35px;
    transition: all 0.3s ease-in-out;
}
header .navbar ul li a:hover,
header .navbar ul li a.active{
    color: #06BFF8;
}
.home{
    align-items: center;
    height: 100vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0px 10%;
}
.home .text{
    max-width: 600px;
}
.home .text h1{
    font-size: 41px;
    font-weight: 700;
    line-height: 1.5cm;
}
.home .text h3{
    font-size: 30px;
    font-weight: 700;
    color: #00abf0;
    line-height: 1.5cm;
}
.home .text p{
    font-size: 14px;
    margin-bottom: 30px;
}
.home .text  a{
    text-decoration: none;
    border: solid 1px #00abf0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.home .text .btn-info{
    margin-right: 20px;
}
.home .text .btn-info:hover{
    background: transparent;
    color: #ededed;
    transition:  cubic-bezier(.17,.67,.83,.67) 0.3s;
}
.home .text .let{
    color: #ededed;
}
.home .text .let:hover{
    background: #0DCAF0;
    color: black;
    transition:  cubic-bezier(.17,.67,.83,.67) 0.3s;
}
.home-icon{
    position: absolute;
    margin-top: 30%;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-icon a{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: solid 1px #00abf0;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: all .3s;
}
.home-icon a:hover{
    color: #081b29;
}
.home-icon a::before{
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00abf0;
    z-index: -1;
    transition: .4s;
}
.home-icon a:hover::before{
    height: 100%;
}
.home-hover{
    top: 0;
    position: absolute;
    right: 30px;
    width: 500px;
    height: 650px;
    background: transparent;
    transition: 3s;
}
.home-hover:hover{
    background: #081b29;
    opacity: .8;
}