@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #081b29;
    color: #ededed;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background: transparent;
    margin: 0;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1;
}
header .logo a{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #ededed;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: end;
    list-style: none;
    padding-right: 60px;
}
header .navbar ul li a{
    /* padding: 20px; */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ededed;
    margin-left: 35px;
    transition: all 0.3s ease-in-out;
}
header .navbar ul li a:hover,
header .navbar ul li a.active{
    color: #06BFF8;
}
.home{
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 0px 10%;
}
.home .text{
    max-width: 600px;
}
.home .text h1{
    font-size: 41px;
    font-weight: 700;
}
.home .text h3{
    font-size: 30px;
    font-weight: 700;
    color: #00abf0;
}
.home .text p{
    font-size: 14px;
}
.home .text button {
    border: none;
    outline: none;
    border-radius: 5px;
    
}
.home .text button a{
    text-decoration: none;
    color: #ededed;
    outline: none;
    border: solid 1px #00abf0;
    width: 120px;
}