@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #081b29;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background: transparent;
    margin: 0;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
}
header .logo a{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #ededed;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: end;
    list-style: none;
    padding-right: 60px;
}
header .navbar ul li a{
    /* padding: 20px; */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ededed;
    margin-left: 35px;
    transition: all 0.3s ease-in-out;
}
header .navbar ul li a:hover,
header .navbar ul li a.active{
    color: #06BFF8;
}